@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@400;700&family=Ms+Madi&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;


}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  background-color:
  min-height: 100vh;

}
h1 {
  font-size: 60px;
}
#t_boogie {
  font-family: 'Bebas Neue', cursive;
}
#t_bounce {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing:-15px;
}
#t_mama {
  font-family: 'Ms Madi', cursive;
}
