@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@400;700&family=Ms+Madi&display=swap');
html {
  scroll-behavior: smooth; 
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  height: 100vh;
}

h1 {
  font-size: 60px;
  width: 100vw;
  justify-content: center;

}
#header_img {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#header_text {
  display: flex;
  align-items: baseline;
  justify-content: center;
}


#header_img img {
  position: absolute;
  bottom: 0;
  max-width: 100vw;
  min-height: 100vh;
}

#t_boogie {
  font-family: 'Bebas Neue', cursive;
  animation: tBoogie 1s ease-out ;

}

#t_bounce {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: -0.08em;
  animation: tBounce 1s ease-out 1s forwards;
  transform: rotate(0.1turn);
  opacity: 0;
}
.break {
  flex-basis: 100%;
  height: 0;
}

#t_mama {
  font-family: 'Ms Madi', cursive;
}
#t_portfolio {
  font-family: 'Ms Madi', cursive;
  font-size: 150px;
  position: relative;
  transform: translateY(10vh);
  padding-top: 79px;
  /* animation: t_Portfolio 1s ease-out 2s forwards; */

}

#img_mountains {
  z-index: -1;
}
#scroll_down{
  z-index: 1000;
  color: blueviolet;
  position: fixed;
  bottom: 15px;
}
@keyframes tBoogie {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes tBounce {
  0% {
    transform: rotate(0.1turn);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
    transform: translateY(1px);
  }
}
/* @keyframes tPortfolio {
  0% {

  }
  100% {

    opacity: 1;
    transform: translateY(-35vh);
  }
} */

section {
  height: 100vh;

}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky-impact1 {
  padding-top: 159px;
}
.sticky-impact2 {
  padding-top: 79px;
}